.container_news {
  background-color: pink;
  .boxx {
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background-color: greenyellow;
    margin: 0 auto;
  }
}
